extends ../layout
block content
  h1 Edit List

  div.well 
    form.form-inline(action='/lists/#{list._id}?_method=PUT', method='post')
      .form-group
        label(for='title') Title
        br
        input.form-control(type='text', name='title', value='#{list.title}')
      br
      br
    
      .form-group
        input.form-control(type='text', name='itemOne', value='#{list.itemOne}')
        input.form-control(type='url', name='imageOne', value='#{list.imageOne}')
      br
      br
    
      .form-group
        input.form-control(type='text', name='itemTwo', value='#{list.itemTwo}')
        input.form-control(type='url', name='imageTwo', value='#{list.imageTwo}')
      br
      br
    
      .form-group
        input.form-control(type='text', name='itemThree', value='#{list.itemThree}')
        input.form-control(type='url', name='imageThree', value='#{list.imageThree}')
      br
      br
    
      .form-group
        input.form-control(type='text', name='itemFour', value='#{list.itemFour}')
        input.form-control(type='url', name='imageFour', value='#{list.imageFour}')
      br
      br
    
      .form-group
        input.form-control(type='text', name='itemFive', value='#{list.itemFive}')
        input.form-control(type='url', name='imageFive', value='#{list.imageFive}')
      br
      br
    
      .form-group
        button.btn.btn-primary.btn-success(type='submit') Submit!
    
  
