extends ../layout
block content

  .grid
    each list in lists
      .grid-item
        .panel.panel-default.bootcards-media
          .panel-heading
            h3.panel-title
              a(href='/lists/#{list._id}') #{list.title}
          .panel-body
            img.img-responsive(src='#{list.imageOne}')

            .btn-group.btn-group-justified
              .btn-group
                img.img-responsive(src='#{list.imageTwo}')
              .btn-group
                img.img-responsive(src='#{list.imageThree}')
              .btn-group
                img.img-responsive(src='#{list.imageFour}')

          .panel-footer
            .btn-group.btn-group-justified
              .btn-group
                .btn.btn-default
                  i Favorite
              .btn-group
                .btn.btn-default
                  i Share
