extends ../layout

block content

  .grid
    each list in lists
      .grid-item
        .panel.panel-default.bootcards-media
          .panel-heading
            h3.panel-title
              a(href='/lists/#{list._id}') #{list.title}
          .panel-body
            .col-sm-6.col-sm-6
              .thumbnail.pic
                img(src='#{list.imageOne}')
                .caption
                   h3 #{list.itemOne}

            .col-sm-6.col-sm-6
              .thumbnail.pic
                img(src='#{list.imageTwo}')
                .caption
                    h3 #{list.itemTwo}

            .col-sm-6.col-sm-4
              .thumbnail.pic
                img(src='#{list.imageThree}')
                .caption
                    h3 #{list.itemThree}

            .col-sm-6.col-sm-4
              .thumbnail.pic
                img(src='#{list.imageFour}')
                .caption
                    h3 #{list.itemFour}

            .col-sm-6.col-sm-4
              .thumbnail.pic
                img(src='#{list.imageFive}')
                .caption
                  h3 #{list.itemFive}
    .grid-item
      .panel.panel-default.bootcards-media
        .panel-heading
          h3.panel-title New List
        .panel-body
          a.btn.btn-primary.btn-lg(href='/lists/new') Create New List
