extends ../layout

block content
  p=list.title
  p=list.itemOne
  p=list.itemTwo
  p=list.itemThree
  p=list.itemFour
  p=list.itemFive
  each comment in list.comments
    div.comments
      p=comment.text
      p=comment.postedBy
  include ./comment.jade
  a(href='/lists', style={color: 'red'}) Back
  a(href='/lists/#{list._id}/edit', style={color: 'red'}) Edit
