extends ../layout

block content
  .panel.panel-default
    .panel-heading
      h2.panel-title #{list.title}
    .panel-body
      .list-group
        div.list-group-item
          p #{list.itemOne}
        div.list-group-item
          p=list.itemTwo
        div.list-group-item
          p=list.itemThree
        div.list-group-item
          p=list.itemFour
        div.list-group-item
          p=list.itemFive

      each comment in list.comments
        div.comments
          p=comment.text
          p posted by:
          p=comment.postedBy

      include comment

      .btn-group.btn-group-justified
        .btn-group
          form(action='/lists/#{list._id}?_method=DELETE', method='post')
            button.btn.btn-primary.btn-success(type='submit') Delete
        .btn-group
          a.btn.btn-primary(href='/lists') Back
        .btn-group
          a.btn.btn-primary(href='/lists/#{list._id}/edit') Edit
