extends ../layout

block content

  .col-sm-6
    .panel.panel-default
      .panel-header
        h1.panel-title #{list.title}
      .panel-body
        .col-sm-6.col-sm-6
          .thumbnail.pic
            img(src='#{list.imageOne}')
            .caption
              h3 #{list.itemOne}

        .col-sm-6.col-sm-6
          .thumbnail.pic
            img(src='#{list.imageTwo}')
            .caption
              h3 #{list.itemTwo}

        .col-sm-6.col-sm-4
          .thumbnail.pic
            img(src='#{list.imageThree}')
            .caption
              h3 #{list.itemThree}

        .col-sm-6.col-sm-4
          .thumbnail.pic
            img(src='#{list.imageFour}')
            .caption
              h3 #{list.itemFour}

        .col-sm-6.col-sm-4
          .thumbnail.pic
            img(src='#{list.imageFive}')
            .caption
              h3 #{list.itemFive}

      .panel-footer
        .btn-group.btn-group-justified
          .btn-group
            form(action='/lists/#{list._id}?_method=DELETE', method='post')
              button.btn.btn-primary.btn-danger(type='submit') Delete
          .btn-group
            a.btn.btn-primary(href='/lists') Back
          .btn-group
            a.btn.btn-primary(href='/lists/#{list._id}/edit') Edit

  .col-sm-6
    .well
      h3 Comment On This List
      hr
      ul.media-list
        each comment in list.comments
          li.media
            .media-left
              a(href='#')
                img.media-object.avatar(src='#{comment.avatar}')
            .media-body
              h4.media-heading #{comment.postedBy} Says:
              p #{comment.text}
            hr


      include comment

